*{ 
  box-sizing:border-box;
  
}

body {
  margin:0;
  froont-family:sans-serif;
  background:#F1A04F;
}




.contenedor {
  color:#F8E2CD;
  text-align: center;
}

.form-municipio {
  width:60%;
  max-width: 500px;
  margin: auto;
  background: #ECD9C6;
  border-radius: 7px;
}


